{% extends 'blog/layout.html' %}

{% block content %}
<div class="post-entry">
    <h2>
        {{ post.title }}
    </h2>
    <p>
        {{ post.body }}
    </p>
</div>
<div>
    <a class="btn btn-primary" href="{% url 'post_edit' post.pk %}" role="button">Edit Post</a>
    <a class="btn btn-primary" href="{% url 'post_delete' post.pk %}" role="button">Delete Post</a>
</div>
<!--a href="{% url 'post_edit' post.pk %}"  > + Edit Blog Post</a-->
<!--a href="{% url 'post_delete' post.pk %}"> + Delete Post</a-->

{% endblock content %}